In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/11 08:01:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/01/11 08:01:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# show Iceberg
spark.sql("SHOW CATALOGS").show()

+-------------+
|      catalog|
+-------------+
|spark_catalog|
+-------------+

In [4]:
spark.sql("SHOW NAMESPACES IN spark_catalog").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

### 1️⃣ Create namespace（database/schema）

In [ ]:
spark.sql("""
CREATE TABLE silver.eth_blocks_t01 (
  id INT,
  name STRING
) USING iceberg
""")

spark.sql("INSERT INTO silver.eth_blocks_t01 VALUES (1, 't01')")
spark.sql("SELECT * FROM silver.eth_blocks_t01").show()

In [ ]:
spark.sql("""
CREATE TABLE gold.eth_blocks_t01 (
  id INT,
  name STRING
) USING iceberg
""")

spark.sql("INSERT INTO gold.eth_blocks_t01 VALUES (1, 't01')")
spark.sql("SELECT * FROM gold.eth_blocks_t01").show()