In [32]:
# spark UI address
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.uiWebUrl

'http://jupyter-pyspark-775457d87d-8bbf2:4042'

In [62]:
spark.sql("""select max(block_height) from bronze.base_mainnet_logs""").show(truncate=False)

+-----------------+
|max(block_height)|
+-----------------+
|40872643         |
+-----------------+

In [ ]:
# !pip install pandas

In [29]:

# Bronze layer
spark.sql("""
    CREATE TABLE IF NOT EXISTS bronze.base_mainnet_logs (
        block_height BIGINT,
        job_name STRING,
        run_id STRING,
        inserted_at TIMESTAMP,
        inserted_date DATE,
        raw STRING
    ) USING iceberg
      PARTITIONED BY (inserted_date)
""")
# üëâ Âª∫Â•Ω‰πãÂêé ‰∏çË¶ÅÂÜç DROP / Êîπ schema

DataFrame[]

In [ ]:
# drop table -> delete files
# spark.conf.get("spark.sql.catalog.spark_catalog.purge", "true")
# spark.sql("""drop table bronze.base_mainnet_logs""").show(truncate=False)
# spark.sql("describe table bronze.base_mainnet_logs").show()
# spark.sql("select count(1) from bronze.base_mainnet_logs").show()
# 2552926

+--------+
|count(1)|
+--------+
|58530516|
+--------+

In [ ]:

# Silver layer
spark.sql("""
CREATE TABLE IF NOT EXISTS silver.base_mainnet_logs (
    removed BOOLEAN COMMENT 'ÊòØÂê¶Ë¢´ÂõûÊªö',
    log_index BIGINT COMMENT 'Âú®Âå∫ÂùóÂÜÖÁöÑÁ¥¢Âºï',
    transaction_index BIGINT COMMENT '‰∫§ÊòìÂú®Âå∫ÂùóÂÜÖÁöÑÁ¥¢Âºï',
    transaction_hash STRING COMMENT '‰∫§ÊòìÂìàÂ∏å',
    block_hash STRING COMMENT 'Âå∫ÂùóÂìàÂ∏å',
    block_number BIGINT COMMENT 'Âå∫ÂùóÈ´òÂ∫¶',
    address STRING COMMENT 'ÂêàÁ∫¶Âú∞ÂùÄÔºàËß¶Âèë‰∫ã‰ª∂ÁöÑÂêàÁ∫¶Ôºâ',
    data STRING COMMENT 'ABI ÁºñÁ†ÅÂêéÁöÑÊï∞ÊçÆ(ÈÄöÂ∏∏ÊòØ uint256 Êàñ bytes)',
    topics ARRAY<STRING> COMMENT '‰∫ã‰ª∂Á≠æÂêç + indexed ÂèÇÊï∞'
)
USING ICEBERG;
""")

In [39]:
spark.sql("select count(1) from bronze.base_mainnet_logs where block_height = 40869828").show(truncate=False)

+--------+
|count(1)|
+--------+
|0       |
+--------+

In [21]:
spark.sql("""
describe bronze.kafka_base_mainnet_logs.snapshots
""").toPandas()

        col_name           data_type comment
0   committed_at           timestamp    None
1    snapshot_id              bigint    None
2      parent_id              bigint    None
3      operation              string    None
4  manifest_list              string    None
5        summary  map<string,string>    None

In [22]:
spark.sql("""
SELECT *
FROM bronze.kafka_base_mainnet_logs.snapshots
ORDER BY committed_at DESC
LIMIT 1
""").show(truncate=False)

+-----------------------+-------------------+-------------------+---------+---------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                                              |summary                                                                                                                                                                                                                                                                                                                                                                                                                      |
+-----------------------+-------------------+-------------------+---------+---------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2026-01-16 02:12:45.739|6955477772442700340|7911876608789659932|append   |s3a://datalake/bronze/kafka_base_mainnet_logs/metadata/snap-6955477772442700340-1-a8b5d50f-f759-474d-9112-6abc724db839.avro|{spark.app.id -> local-1768527807749, spark.sql.streaming.epochId -> 2286, spark.sql.streaming.queryId -> f7b02f83-5c0f-4709-8dfb-27895693b7c5, added-data-files -> 1, added-records -> 4155, added-files-size -> 182760, changed-partition-count -> 1, total-records -> 2552926, total-files-size -> 129193799, total-data-files -> 2114, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
+-----------------------+-------------------+-------------------+---------+---------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
logs_sample = [{'removed': False,
  'logIndex': 97,
  'transactionIndex': 77,
  'transactionHash': 'a2f1de724043aa937adceb266e2517790cb024b2a7aa1d244db076a311cccd2f',
  'blockHash': '156fc301558435fa8f9753ab74adce06711d223c9e7999d4738a4ffb5129343d',
  'blockNumber': 24009335,
  'address': '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913',
  'data': '0000000000000000000000000000000000000000000000000000000000005618',
  'topics': ['ddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef',
   '0000000000000000000000005965851f21dae82ea7c62f87fb7c57172e9f2add',
   '000000000000000000000000a28062bd708ce49e9311d6293def7df63f2b0816']},
 {'removed': False,
  'logIndex': 98,
  'transactionIndex': 77,
  'transactionHash': 'a2f1de724043aa937adceb266e2517790cb024b2a7aa1d244db076a311cccd2f',
  'blockHash': '156fc301558435fa8f9753ab74adce06711d223c9e7999d4738a4ffb5129343d',
  'blockNumber': 24009335,
  'address': '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913',
  'data': '000000000000000000000000000000000000000000000000000000000145f5e2',
  'topics': ['8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925',
   '0000000000000000000000005965851f21dae82ea7c62f87fb7c57172e9f2add',
   '00000000000000000000000057df6092665eb6058de53939612413ff4b09114e']},
 {'removed': False,
  'logIndex': 99,
  'transactionIndex': 77,
  'transactionHash': 'a2f1de724043aa937adceb266e2517790cb024b2a7aa1d244db076a311cccd2f',
  'blockHash': '156fc301558435fa8f9753ab74adce06711d223c9e7999d4738a4ffb5129343d',
  'blockNumber': 24009335,
  'address': '0x6b2C0c7be2048Daa9b5527982C29f48062B34D58',
  'data': '0000000000000000000000000000000000000000000000000000000000000000',
  'topics': ['7724394874fdd8ad13292ec739b441f85c6559f10dc4141b8d4c0fa4cbf55bdb']}]

In [11]:
# query.stop() # stop the streaming

# query.status
# query.lastProgress
# query.isActive

# check all streaming jobs
spark.streams.active

# Âº∫Âà∂ÂÅúÊ≠¢ÊâÄÊúâ StreamingÔºàÊïëÂëΩÁî®Ôºâ
# for q in spark.streams.active:
#     print("Stopping:", q.name)
#     q.stop()

[]